# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Model Files
*.pkl

# Dataset
data/aml/
*.zip

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

*.csv
*.parquet
*.pkl
*.joblib
data/raw/*
data/processed/*
data/train/*
data/test/*
data/validation/*
!data/**/.gitkeep